<div class="pg-sub-title m-t-50" [class]="appliedCSSClass">Education</div>
<hr />

<div class="detail">
  <div class="detail-section edu">
    <div class="detail-title">
      <div class="title-icon">
        <i class="fas fa-user-graduate"></i>
      </div>
    </div>
    <div class="detail-content">
      <div class="timeline-block">
        <h1>Bachelor of Science in Information Technology</h1>
        <h1>With Area of Specialization in Web Development</h1>
        <p>Holy Angel University</p>
        <time>2020 - present</time>
      </div>
      <div class="timeline-block">
        <h1>Science, Technology, Engineering, and Mathematics Strand</h1>
        <h1>Senior High School</h1>
        <p>Holy Angel University</p>
        <time>2018 - 2020</time>
      </div>
      <div class="timeline-block">
        <h1>High School</h1>
        <p>Don Antonio Lee Chi Uan Integrated School</p>
        <time>2014 - 2018</time>
      </div>
      <div class="timeline-block">
        <h1>Grade School</h1>
        <p>Don Antonio Lee Chi Uan Integrated School</p>
        <time>2009 - 2014</time>
      </div>
    </div>
  </div>
</div>
