<div class="pg-sub-title m-t-50" [class]="appliedCSSClass">References</div>
<hr />

<div class="detail-content">
  <div class="timeline-block">
    <h1>Javiely Dionisio</h1>
    <h1>Executive Services Specialist</h1>
    <p>Cloudstaff Philippines</p>
    <time>+63 915 546 7624</time>
  </div>
  <div class="timeline-block">
    <h1>Clinton Ocampo</h1>
    <h1>PRT</h1>
    <p>Concentrix Clark</p>
    <time>+63 917 590 7133</time>
  </div>
  <div class="timeline-block">
    <h1>Jeremiah Urbiztondo</h1>
    <h1>PRT</h1>
    <p>Concentrix Clark</p>
    <time>+63 917 302 3257</time>
  </div>
</div>
