<div class="pg-sub-title m-t-50" [class]="appliedCSSClass">Skills</div>
<hr />

<div class="detail-section pg-skill">
  <div class="detail-title">
    <div class="title-icon">
      <i class="fas fa-laptop-code"></i>
    </div>
    <span class="sm-text">Soft skills</span>
  </div>
  <div class="detail-content">
    <ul class="pg-list">
      <li>
        <span>Communication</span>
        <div class="sb-skeleton">
          <div class="skillbar" style="--pgbar-length: 95%"></div>
        </div>
      </li>
      <li>
        <span>Teamwork</span>
        <div class="sb-skeleton">
          <div class="skillbar" style="--pgbar-length: 95%"></div>
        </div>
      </li>
      <li>
        <span>Problem-Solving</span>
        <div class="sb-skeleton">
          <div class="skillbar" style="--pgbar-length: 95%"></div>
        </div>
      </li>
      <li>
        <span>Self-Learning</span>
        <div class="sb-skeleton">
          <div class="skillbar" style="--pgbar-length: 95%"></div>
        </div>
      </li>
      <li>
        <span>Interpersonal</span>
        <div class="sb-skeleton">
          <div class="skillbar" style="--pgbar-length: 90%"></div>
        </div>
      </li>
      <li>
        <span>Emotional Intelligence</span>
        <div class="sb-skeleton">
          <div class="skillbar" style="--pgbar-length: 95%"></div>
        </div>
      </li>
      <li>
        <span>Time Management</span>
        <div class="sb-skeleton">
          <div class="skillbar" style="--pgbar-length: 85%"></div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="detail-section pg-skill">
  <div class="detail-title">
    <div class="title-icon">
      <i class="fas fa-laptop-code"></i>
    </div>
    <span class="sm-text">Programming skills</span>
  </div>
  <div class="detail-content">
    <ul class="pg-list">
      <li>
        <span>HTML5</span>
        <div class="sb-skeleton">
          <div class="skillbar" style="--pgbar-length: 95%"></div>
        </div>
      </li>
      <li>
        <span>CSS3</span>
        <div class="sb-skeleton">
          <div class="skillbar" style="--pgbar-length: 95%"></div>
        </div>
      </li>
      <li>
        <span>Javascript</span>
        <div class="sb-skeleton">
          <div class="skillbar" style="--pgbar-length: 95%"></div>
        </div>
      </li>
      <li>
        <span>PHP</span>
        <div class="sb-skeleton">
          <div class="skillbar" style="--pgbar-length: 90%"></div>
        </div>
      </li>
      <li>
        <span>NodeJS</span>
        <div class="sb-skeleton">
          <div class="skillbar" style="--pgbar-length: 80%"></div>
        </div>
      </li>
      <li>
        <span>AngularJS</span>
        <div class="sb-skeleton">
          <div class="skillbar" style="--pgbar-length: 80%"></div>
        </div>
      </li>
      <li>
        <span>VueJS</span>
        <div class="sb-skeleton">
          <div class="skillbar" style="--pgbar-length: 80%"></div>
        </div>
      </li>
      <li>
        <span>Python</span>
        <div class="sb-skeleton">
          <div class="skillbar" style="--pgbar-length: 90%"></div>
        </div>
      </li>
      <li>
        <span>Java</span>
        <div class="sb-skeleton">
          <div class="skillbar" style="--pgbar-length: 85%"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
