<div class="pg-sub-title m-t-50" [class]="appliedCSSClass">Achievements</div>
<hr />
<span class="sm-text">Experiences</span>
<div class="detail-content">
  <div class="timeline-block">
    <h1>Advisor II - Technical Support</h1>
    <h1>Account: AT&T DIRECTV - Arena Tech</h1>
    <p>Concentrix Clark, SM Clark Pampanga</p>
    <time>July 12, 2021 – January 17, 2022</time>
    <dl style="margin-top: 10px;">
      <dt>Key Responsibilities:</dt>
      <dd>- Provide technical support to customers cable concerns</dd>
      <dd>
        - Assisted customers with troubleshooting, billing, and programming
        concerns
      </dd>
      <dd>
        - Provide application and streaming support with their application and
        website
      </dd>
      <dd>- Answer support queries customer has via phone</dd>
      <dd>- Pitch and make sales of service programs</dd>
      <dd>- Identify and resolve customers issues at first interaction</dd>
      <dd>- Log call interaction and customer requests and issue</dd>
      <dd>
        - Using of Remote applications in helping customers for troubleshooting
      </dd>
      <dd>- Give recommendation and offers to the customer</dd>
      <dd>
        - Empowering customers by promoting Knowledge base and self-service
        option
      </dd>
      <dd>
        - Creating orders, setting up technician appointment, and modifying
        customer’s account
      </dd>
      <dd>- Tools and app utilization CRM, RIO, CAP, Avaya, etc.</dd>
    </dl>
  </div>
</div>

<span class="sm-text">Certifications</span>
<div class="detail-content">
  <div class="timeline-block">
    <h1>PCAP - Programming Essentials in Python</h1>
    <h1>Cisco Networking Academy</h1>
    <p>HAU - CICT</p>
    <time>2021</time>
  </div>
  <div class="timeline-block">
    <h1>Introduction to Cybersecurity</h1>
    <h1>Cisco Networking Academy</h1>
    <p>HAU - CICT</p>
    <time>2020</time>
  </div>
  <div class="timeline-block">
    <h1>Introduction to IoT</h1>
    <h1>Cisco Networking Academy</h1>
    <p>HAU - CICT</p>
    <time>2020</time>
  </div>
</div>
